<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Mileage</th>
      <th>Gallons</th>
      <th>MPG</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each fill_ups as |fill_up|}}

      <tr data-id="{{fill_up.id}}">
        <td class = "fill_up-date">{{fill_up.date}}</td>
        <td class = "fill_up-mileage">{{fill_up.mileage}}</td>
        <td class = "fill_up-gallons">{{fill_up.gallons}}</td>
        <td class = "fill_up-mpg">{{fill_up.mpg}}</td>
        <td class = "fill_up-price">{{fill_up.price}}</td>
        <td>
          <button data-id="{{fill_up.id}}" class="deleteFillUpButton btn btn-danger">Delete Fill-Up</button>
          <button data-id="{{fill_up.id}}" class="editFillUpButton btn btn-info">Edit Fill-Up</button>
        <td>
      </tr>
    {{/each}}
</tbody>
<table>
